<div class="container">
  <legend>Add A New Note</legend>
  <div class="mb-3">
    <label for="txtNoteName" class="form-label">Note Title</label>
    <input
      type="text"
      [(ngModel)]="noteForm.title"
      class="form-control"
      id="txtNoteName"
    />
  </div>
  <div class="mb-3">
    <label for="txtAuthor" class="form-label">Note Description</label>
    <input
      type="text"
      [(ngModel)]="noteForm.note"
      class="form-control"
      id="txtAuthor"
    />
  </div>
  <button
    type="button"
    class="btn text-white"
    style="background-color: #6d12f5"
    (click)="saveNewNote()"
  >
    Create
  </button>
</div>
