<div class="container">
  <legend>Add A New Note</legend>
  <form [formGroup]="noteForm">
    <div class="mb-3">
      <label class="form-label">Note Information</label>
      <input
        type="text"
        class="form-control"
        formControlName="noteInformation"
      />
      <div
        *ngIf="
          noteForm.controls['noteInformation'].invalid &&
          noteForm.controls['noteInformation'].errors &&
          noteForm.controls['noteInformation'].touched
        "
      >
        <div
          class="invalid feedback error"
          *ngIf="noteForm.controls['noteInformation'].errors['required']"
        >
          Note Information is required
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Priority</label>
      <input type="text" class="form-control" formControlName="scale" />
      <div
        *ngIf="
          noteForm.controls['scale'].invalid &&
          noteForm.controls['scale'].errors &&
          noteForm.controls['scale'].touched
        "
      >
        <div
          class="invalid feedback error"
          *ngIf="
            noteForm.controls['scale'].errors['min'] ||
            noteForm.controls['scale'].errors['max']
          "
        >
          Scale must be between 0 and 5
        </div>
      </div>
    </div>
    <div class="mb-3">
      <input type="file" (change)="onFileChanged($event)" />
    </div>
    <button
      type="button"
      class="btn text-white"
      style="background-color: #6d12f5"
      (click)="saveNewNote()"
    >
      Create
    </button>
  </form>
</div>
