<div class="container">
  <legend>Update Note</legend>
  <div class="mb-3">
    <label for="txtNoteName" class="form-label">Note Information</label>
    <input
      type="text"
      [(ngModel)]="noteForm.noteInformation"
      class="form-control"
      id="txtNoteName"
    />
  </div>
  <div class="mb-3">
    <label for="txtDescription" class="form-label">Scale</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="noteForm.scale"
      id="txtDescription"
    />
  </div>
  <button
    type="button"
    class="btn text-white"
    style="background-color: #6d12f5"
    (click)="updateNote()"
  >
    Update
  </button>
</div>
